<% if @match.winner != nil %>
	<%= render :partial => "match_winner", locals: { users: @users, match: @match } %>
<% else %>
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h1> <%= @match.title %></h1>	
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<h2 class = "pull-right"> Puntuación: <%= @match.score %></h2>
			<h2><%= link_to "Abandonar Juego", leave_match_path, method: :post, class: "btn btn-danger pull-right", style:"margin-right: 15px" %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
			<h4>Jugador: <%= current_user.email %></h4>
			<h4>Puntos: <%= current_user.score %></h4>
		</div>
		<% @users.each do |user| %>
			<% if user.email == current_user.email %>
			<% else %>
				<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
					<h4>Jugador: <%= user.email %></h4>
					<h4>Puntos: <%= user.score %></h4>
				</div>
			<% end %>
		<% end %>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<% if @difference != nil %>
				<% if @difference != "+ 0" %>
					<h3><span style="color: green">Respuesta Correcta <%= @difference %> Puntos </span></h3>
				<% else %>
					<h3><span style="color: red">Respuesta Erronea <%= @difference %> Puntos</span></h3>
				<% end %>
			<% else %>
			<% end %>
		</div>
	</div>

	<% if @question.category == "answerString" %>
		<%= render :partial => "question_without_image", locals: { question: @question } %>
	<% else %>
		<% if @question.category == "answerImages" %>
			<%= render :partial => "answer_with_image", locals: { question: @question } %>
		<% else %>
			<% if @question.category == "answerQuestionImage" %>
				<%= render :partial => "question_with_image", locals: { question: @question } %>
			<% else %>
				<% if @question.category == "answerImageQuestionImage" %>
					<%= render :partial => "question_answer_with_image", locals: { question: @question } %>
				<% else %>
					<%= render :partial => "final_question", locals: {question: @question} %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>
